html, body, *{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box{
    width: 80rem;
    height: fit-content;
    margin: 5rem auto;
    align-items: center;
    border: 1rem solid black;
    padding: 3rem;
}
.sizeButton{
    width: 20rem;
    font-size: 3rem;
}
